html {
  box-sizing: border-box;
  max-height: 100vh;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  text-transform: uppercase;
}

body {
  margin: 0;
  border-bottom: 12px solid black;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  text-align: center;
}

.title {
  margin-top: .6em;
  margin-bottom: .6em;
  font-size: 4em;
}

.panels {
  height: 78vh;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.panel {
  cursor: pointer;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  background-size:cover;
  background-position:center;
  transition:
    font-size 1s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 1s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.8s;
}

.panel:hover {
  flex: 5;
  font-size: 2em;
}

.panel__title {
  font-size: 3em;
}

.panel__desc {
  font-size: 1em;
}

.panel1 { background-image:url(https://happyvelvets.files.wordpress.com/2015/03/icecreamcakeirene2.jpg?w=1040); }
.panel2 { background-image:url(https://happyvelvets.files.wordpress.com/2015/03/icecreamcakeseulgi1.jpg?w=1040); }
.panel3 { background-image:url(https://happyvelvets.files.wordpress.com/2015/03/icecreamcakewendy1.jpg?w=1040); }
.panel4 { background-image:url(https://happyvelvets.files.wordpress.com/2015/03/icecreamcakejoy1.jpg?w=1040); }
.panel5 { background-image:url(https://happyvelvets.files.wordpress.com/2015/03/icecreamcakeyeri1.jpg?w=1040); }

.panel > * {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  transition: transform .8s;
}

.panel:hover > *:last-child {
  display: block;
}

.panel > *:last-child {
  display: none;
}


@media (max-width: 641px) {

  html {
    font-size: 14px;
  }

  .panels {
    flex-direction: column;
  }

}
